.body{
    font-family:Nunito Sans,Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:1.42857;
    color:#585858;
    background-color:#fff
}

.overlay{
    background-color:hsla(0,0%,100%,.2);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0
}

.background-image-container{
    position:relative;
    text-align:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top;
    padding:12% 0
}