body {
   font-family: "Courier New", Courier, monospace;
}
body p {
    font-size: 24px;
    font-weight: bold;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    width: 50%;
}
.subheader {
    font-size: 24px;
    color: #818181;
    font-style: italic;
    font-weight: bold;
    font-family: none;
}
.image-samples {
    width: 75%;
}