body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    font-size: 3rem;
    font-weight: bold;
}

.subheader {
    font-size: 1rem;
    font-weight: bold;
}

.text-container {
    width: 50%;
}